/*
   Documentation
   ------------------------------ */
body.docs {
    counter-reset: section;
}
.main {
    margin-left: 360px;
}
.section {
    counter-reset: heading;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section:first-of-type {
    padding-top: 60px;
}
.section:last-of-type {
    padding-bottom: 60px;
}
.section:not(:first-of-type):before {
    content: '';
    display: inline-block;
    margin-bottom: 60px;
    width: 100%;
    height: 6px;
    background: var(--light);
}
h2:before {
    counter-increment: section;
    content: counter(section) '. ';
}
h3:before {
    counter-increment: heading;
    content: counter(heading) '. ';
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 360px;
    height: 100%;
    background: var(--black);
    padding: 40px;
    counter-reset: menu;
    -webkit-backface-visibility: hidden;
}
#menu * {
    color: var(--white);
}
#menu .title {
    font-size: 24px;
}
#menu .links {
    display: inline-block;
    width: 100%;
    margin: 40px 0;
}
#menu .goto {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 0;
    margin: 2px 0;
    cursor: pointer;
    opacity: .6;
}
#menu .goto:hover,
#menu .goto.active {
    opacity: 1;
}
#menu .goto:before {
    counter-increment: menu;
    content: counter(menu) '. ';
}
#menu .goto:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--blue);
}
#menu .goto.active:after {
    width: 100%;
}
#menu .goto,
#menu .goto:after {
    transition: all .2s ease;
}
#menu .info {
    font-size: 12px;
    opacity: .5;
    padding: 4px 0;
}
span.goto {
    color: var(--blue);
    border-bottom: dashed 1px var(--blue);
    cursor: pointer;
}
.definitions > div {
    margin: 30px 0;
}
.definitions > div .code {
    margin-bottom: 10px;
}
.definitions > div p {
    padding: 0;
}
.definitions > div p:last-of-type {
    margin-top: 8px;
    font-weight: 700;
    font-size: 11px;
}
.rating {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
.rating svg {
    width: 30px;
    height: 30px;
    fill: var(--gold);
}

/*
   Responsive
   ------------------------------ */

@media (max-width: 1024px) {
    #menu {
        display: none;
    }
    .main {
        margin-left: 0;
    }
    .section:first-of-type {
        padding-top: 30px;
    }
    .section:last-of-type {
        padding-bottom: 30px;
    }
}